<f:layout name="Default" />

<f:section name="head">
	<title><f:translate id="typo3.neos.login" /></title>
	<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/Login.css')}" />
	<script src="{f:uri.resource(path: 'Library/jquery/jquery-1.10.2.js')}"></script>
	<script src="{f:uri.resource(path: 'Library/jquery-ui/js/jquery-ui-1.10.3.custom.js')}"></script>
</f:section>

<f:section name="body">
	<body class="neos">
		<div id="neos-login-box">
			<div class="neos-login-logo">
				<img src="{f:uri.resource(path: 'Images/Login/ApplicationLogo.png')}" alt="{f:translate(id: 'typo3.neos', default: 'TYPO3 Neos')}" />
			</div>
			<div class="neos-login-body neos">
				<f:form name="login" action="authenticate">
					<f:form.hidden name="lastVisitedNode" />
					<fieldset>
						<div class="neos-controls">
							<f:form.textfield id="username" type="text" placeholder="{f:translate(id: 'username', default: 'Username')}" class="neos-span12" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" additionalAttributes="{autofocus: 'autofocus'}" value="{username}" />
						</div>
						<div class="neos-controls">
							<f:form.textfield id="password" type="password" placeholder="{f:translate(id: 'password', default: 'Password')}" class="neos-span12" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" />
						</div>
						<div class="neos-actions">
							<!-- Forgot password link will be here -->
							<f:form.button type="submit" class="neos-span5 neos-pull-right neos-button neos-button-primary neos-button-warning neos-login-btn">
								<f:translate id="login" />
							</f:form.button>
							<f:flashMessages as="flashMessages">
								<f:for each="{flashMessages}" as="flashMessage">
									<f:if condition="{0: flashMessage.severity} == {0: 'OK'}">
										<div class="neos-tooltip neos-bottom neos-in neos-tooltip-success">
									</f:if>
									<f:if condition="{0: flashMessage.severity} == {0: 'Notice'}">
										<div class="neos-tooltip neos-bottom neos-in neos-tooltip-notice">
									</f:if>
									<f:if condition="{0: flashMessage.severity} == {0: 'Warning'}">
										<div class="neos-tooltip neos-bottom neos-in neos-tooltip-warning">
									</f:if>
									<f:if condition="{0: flashMessage.severity} == {0: 'Error'}">
										<div class="neos-tooltip neos-bottom neos-in neos-tooltip-error">
									</f:if>
										<div class="neos-tooltip-arrow"></div>
										<div class="neos-tooltip-inner">{flashMessage.message -> f:format.raw()}</div>
									</div>
								</f:for>
							</f:flashMessages>
						</div>
					</fieldset>
				</f:form>
			</div>
		</div>
		<div id="neos-login-footer">
			<p>
				<a href="http://neos.typo3.org" target="_blank"><f:translate id="typo3.neos" /></a> – © 2006-<f:format.date format="Y" date="now" />
				<f:translate id="free.software" />; <a href="http://typo3.org/licenses" target="_blank"> <f:translate id="click.for.details" /></a>
				<f:translate id="typo3.neos.no.warranty" /> <a href="http://typo3.org/licenses" target="_blank"><f:translate id="click.for.details" /></a>
				<f:translate id="see" /> <a href="http://neos.typo3.org" target="_blank">neos.typo3.org</a> <f:translate id="for.more.details" />
				<f:translate id="obstructing.the.appearance" />
			</p>
		</div>
		<script src="{f:uri.resource(path: '2/js/bootstrap.min.js', package: 'TYPO3.Twitter.Bootstrap')}"></script>
		<script>
			if ($('#username').val()) {
				$('#password').focus();
			}
			try {
				$('form[name="login"] input[name="lastVisitedNode"]').val(sessionStorage.getItem('TYPO3.Neos.lastVisitedNode'));
			} catch(e) {}
		</script>
	</body>
</f:section>
