<div class="neos-row-fluid neos-module-container">
	<fieldset class="neos-span5">
		<f:form.hidden property="site" value="{f:if(condition: domain.site, then: domain.site, else: site)}" />
		<legend><f:translate id="domain.data">Domain data</f:translate></legend>

		<div class="neos-control-group">
			<label class="neos-control-label" for="host-pattern"><f:translate id="host.pattern">Host pattern</f:translate></label>
			<div class="neos-controls">
				<f:form.textfield property="hostPattern" value="{domain.hostPattern}" id="host-pattern" class="neos-span12" placeholder="e.g. www.typo3.org" />
			</div>
		</div>
		<div class="neos-control-group">
			<label class="neos-control-label" for="active"><f:translate id="state">State</f:translate></label>
			<div class="neos-controls">
				<label class="neos-radio neos-inline">
					<f:form.radio property="active" value="1" id="active" /><span></span>
					<f:translate id="active">Active</f:translate>
				</label>
				<label class="neos-radio neos-inline">
					<f:form.radio property="active" value="0" checked="{f:if(condition: domain.active, else: 'checked')}" /><span></span>
					<f:translate id="inactive">Inactive</f:translate>
				</label>
			</div>
		</div>
	</fieldset>
</div>
<div class="neos-footer">
	<f:link.action action="edit" arguments="{site: '{f:if(condition: domain.site, then: domain.site, else: site)}'}" class="neos-button"><f:translate id="cancel">Cancel</f:translate></f:link.action>
	<f:form.submit value="{f:if(condition: saveText, then: saveText, else: 'Save Domain')}" class="neos-button neos-button-primary" />
</div>