{namespace neos=TYPO3\Neos\ViewHelpers}
<div id="neos-shortcut">
	<p>
		<f:switch expression="{targetMode}">
			<f:case value="selectedNode">
				<f:translate id="shortcut.to.specific.page">This is a shortcut to a specific page.</f:translate><br />
				<f:translate id="click">Click</f:translate> <neos:link.node node="{targetNode}"><f:translate id="here">here</f:translate></neos:link.node> <f:translate id="to.continue.the.page">to continue to the page.</f:translate>
			</f:case>
			<f:case value="firstChildNode">
				<f:translate id="shortcut.to.first.child.page">This is a shortcut to the first child page.</f:translate><br />
				<f:translate id="click">Click</f:translate> <neos:link.node node="{firstChildNode}"><f:translate id="here">here</f:translate></neos:link.node> <f:translate id="to.continue.the.page">to continue to the page.</f:translate>
			</f:case>
			<f:case value="parentNode">
				<f:translate id="shortcut.to.parent.page">This is a shortcut to the parent page.</f:translate><br />
				<f:translate id="click">Click</f:translate> <neos:link.node node="{parentNode}"><f:translate id="here">here</f:translate></neos:link.node> <f:translate id="to.continue.the.page">to continue to the page.</f:translate>
			</f:case>
		</f:switch>
	</p>
</div>